/* Body */
body {
    background: url("../images/oreo.jpeg") fixed;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: overlay;
    font-family: sans-serif;
}

/* Text */
.content {
    color: white;
    margin: 0 auto;
    min-height: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content h1 {
    font-size: 90px;
    margin: 10;
}

.content p {
    font-size: 35px;
    margin: 10;
}

/* Buttons */
.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.button1 {
    background-color: #7CC6F2;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10;
}

.button2 {
    background-color: #003087;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10;
}

.button3 {
    background-color: #6C6463;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10;
}

.button1:hover,
.button2:hover,
.button3:hover {
    filter: brightness(80%);
}