<!-- Landing Page for The Office Quotes-->
{% block content %}
<html lang="en">
    <head>
        <title>{{ config.title }}</title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="../static/css/template.css">
        <link rel="icon" type="image/x-icon" href="../static/images/favicon.png">
    </head>
    <body>
      <div class="content">
        <h1>{{ config.h1 }}</h1>
        <div class="buttons">
          <!-- Button -->
          <a target="_blank" class="button1" href="cookiejar" role="button">Open Cookie Jar</a>
          <a target="_blank" class="button2" href="cookiejar.json" role="button">Open Cookie Jar { JSON }</a>
          <a target="_blank" class="button3" href="https://github.com/danblevins/oreoapi" role="button">GitHub</a>
        </div>
      </div>
    </body>
</html>
{% endblock %}
